.quote-widget {
    width: 500px;
    height: fit-content;
    padding: 24px;
    display: flex;
    gap: 24px;
}

.side-line {
 width: 2px;   
 height: 80px;
 background-color: black;
}

.quote-text {
    width: 100%;
}

.quote {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.quote-interaction-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-quote-btn {
    padding: 8px;
}