body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 250px;
    height: 125px;
    background-color: white;
    display: flex;
    align-items: center;
}

.dateDayContainer, .monthYearContainer {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}